/* 
    Created on : 27 janv. 2015, 20:31:45
    Author     : Damien
*/
.header{
    background-color: #F0F0F0;
    box-shadow: 2px 2px 10px 2px lightgray;
    color: grey;
    font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    height: 7%;
    text-align: center;
    width: 100%;
}

/************************/
/* Titre dans le header */
/************************/
.titre_header{
    float: left;
    font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
    font-size: 28px;
    height: 100%;
    padding: 0.5% 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#033F94), to(#58ACFA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 20%;
}

/***********/
/* Onglets */
/***********/
.menu{
    float: left;
    height: 100%;
    width: 60%;
}
.form_onglets{
    height: 100%;
}

.onglets{
    font-size: 0;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.onglets li{
    display: inline-block;
    font-size: 15px;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 24%;
}
.onglets li:hover{
    animation: linear;
    background-color: lightsteelblue;
    box-shadow: 2px 2px 10px #7B899B;
    color: white;
    cursor: pointer;
    transition: all .3s .1s;
}

.onglets li a{
    color: grey;
    display: block;
    padding: 7.7% 0;
    text-decoration: none;
}
.onglets li a:hover{
    color: white;
    transition: all .1s .1s;
}

/* Sous-menu */
.onglets ul{
    margin: 0;
    max-height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: max-height .3s ease-in-out;
}
.onglets li:hover ul{
   border-radius: 0 0 8px 8px;
   box-shadow: 2px 2px 10px #7B899B;
   max-height: 150px;
}
.onglets ul li{
    background-color: steelblue;
    color: lightgray;
    display: inherit;
    height: 50px;
    width: 100%;
}
.onglets ul li:hover{ 
    background-color: lightblue;
    visibility: visible; 
}
.onglets ul li:last-child, .onglets ul li:last-child:hover{
    border-radius: 0 0 8px 8px;
    box-shadow: none;
}
.onglets ul li a{
    color: lightgray;
}


/***************************/
/* Connexion / Déconnexion */
/***************************/
.connexion_header{
    color: black;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: normal;
    padding-top: 5px;
    vertical-align: middle;
    width: 20%;
}

.btn_deconnexion{
    background-color: #428bca;
    border: 1px solid transparent;
    border-color: #357ebd;
    border-radius: 8px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    float: right;
    height: 100%;
    margin-right: 11%;
    padding: 3px 0 5px 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    width: 45%;
}

.btn_deconnexion:hover{
    background-color: #3071a9;
    border-color: #285e8e;
}
.btn_deco2{
    display: inline-block;
    height: 100%;
    padding: 0 5px;
    vertical-align: middle;
}